body {
  margin: 10px;
  background: #3598dc;
}

.text-danger {
  position: relative;
  left: 16px;
}
.text-success {
  position: relative;
  left: 16px;
}

.terms__error {
  display: block;
  position: relative;
  left: -20px;
}

.container {
  background-color: #f3f3f3;
  border-radius: 15px;
  margin-top: 0.7rem;
  padding: 1rem 2rem;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 2rem 8rem 0 6rem;
    max-width: 77vw;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 3.5rem 7rem 0 8rem;
    max-width: 77vw;
    padding: 1.5rem;
  }
}
